[Unit]
Description=Python BTSP Server
After=NetworkManager.service bluetooth.target sys-subsystem-bluetooth-devices-hci0.device

[Service]
Type=simple
ExecStart={pwd}/server.py

[Install]
WantedBy=multi-user.target
